# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Zabbix Server
DB_SERVER_HOST=
ZBX_SERVER_HOST=
ZBX_SERVER_PORT=

# Zabbix Web
PHP_TZ=Asia/Jakarta
ZBX_SERVER_NAME=

# Zabbix Agent
ZBX_HOSTNAME=
