# n8n Host & URL
N8N_HOST=
N8N_URL=

# Security
N8N_SECURE_COOKIE=false

# Runners
N8N_RUNNERS_ENABLED=true
N8N_RUNNERS_MODE=external
N8N_RUNNERS_AUTH_TOKEN=
N8N_RUNNERS_BROKER_LISTEN_ADDRESS=
N8N_RUNNERS_TASK_BROKER_URI=
N8N_NATIVE_PYTHON_RUNNER=true

# Timezone
TZ=Asia/Jakarta
